
.promoBanner_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 10, 40, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(8px);
}

.promoBanner_content {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  animation: zoomIn 0.4s ease-out;
  max-width: 95vw;
  max-height: 95vh;
}
.promoBanner_img {
  max-width: 1200px;
  width: 100%;
  height: auto;
  display: block;
}

.promoBanner_close {
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 36px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  filter: drop-shadow(0 0 6px rgba(0, 145, 255, 0.8)) drop-shadow(0 0 12px rgba(0, 145, 255, 0.6));
  transition: transform 0.2s ease, filter 0.2s ease;
}

.promoBanner_close:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 200, 255, 1)) drop-shadow(0 0 20px rgba(0, 200, 255, 0.8));
}

/* Cerrado por defecto */
.promoBanner_overlay[hidden] { display: none !important; }

/* Abierto */
.promoBanner_overlay.is-open {
  display: flex !important;
}

/* Bloquear scroll cuando está abierto */
body.banner-activo {
  overflow: hidden;
}



@media (max-width: 768px){
.benefit-row {
  display: none;
}

.slider-benefits-movil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  gap: 20px;
}

.slider-benefits-movil .arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.slider-benefits-movil .arrow img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

}